// FOOTER 
@use "../abstract/variables";

@media (max-width:767px) {
    
    #footer {
        position: relative;
        z-index: 1002;
        margin: 0 auto;
        padding: 0;
        bottom: 0;
        width: 95%;
        flex-shrink: 0;
        height: 120px;
    }

    .box-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            padding-top: 10px;

            img {
                max-width: 100px;
                height: 50%;
            }
        }
    .menu-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        color: variables.$totalBlack;
        list-style-type: none;
        // border: $debugBorder;
        li {
            padding-top: 5px;
        }
        a {
            text-decoration: none;
            color: variables.$totalBlack;
        }
    }
    .box-info-footer {
        font-size: 10px;
        color: variables.$totalBlack;
        text-align: center;
        padding-top: 10px;
        width: 100%;

        a {
            color: variables.$totalBlack;
            font-size: 12px;
        }
    }
}



// DESKTOP QUERY MEDIA
@media (min-width:768px) {
    #footer {
        position: relative;
        z-index: 1002;
        margin: 0 auto;
        padding: 0;
        width: 50%;
        flex-shrink: 0;
        height: auto;
        border-radius: 8px 8px 0 0;

        .box-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin: 0 auto;
            padding-top: 10px;

            img {
                width: 30%;
                max-width: 100px;
                height: 50%;
            }
        
            .menu-footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                color: variables.$totalBlack;
                list-style-type: none;
                // border: $debugBorder;
                li {
                    padding-top: 5px;
                }
                a {
                    text-decoration: none;
                    color: variables.$totalBlack;
                    font-size: 16px;
                }
            }
        }
        .box-info-footer {
           font-size: 16px;
           text-align: center;
            padding-top: 10px;

           a {
            color: variables.$totalBlack;
            padding: 5px;
            font-size: 16px;
           }
        }

    }
}
