@use "../abstract/variables" as variables;



// BIO SECTION
.bio {
    // border: variables.$debugBorder; //border
    margin-top: 130px;
    padding: 0  16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 18px;
        letter-spacing: 0.2rem;
    }

    @media (min-width:767px) {
        margin-top: 150px;
        width: 100%;

        &__title {
            font-size: clamp(3em, 30px, 6em);
        }

        &__box {
            margin-top: 24px;
            padding-top: 24px;
            width: 80%;
        }
    }
    @media (min-width:1024px) {
        margin-top: 160px;
        max-width: 80%;

        &__title {
            font-size: clamp(3em, 30px, 6em);
        }

        &__box {
            margin-top: 24px;
            padding-top: 16px;
            max-width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            font-size: 22px;
            letter-spacing: 0.2rem;
            width: 70%;
        }
    }
}


