@use "../abstract/variables" as variables;

.header {
    position: sticky;
    top: 0px;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    box-shadow: 0px 0px 25px white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    // border: variables.$debugBorder;
    align-items: center;

    // QUERY DESKTOP
    @media (min-width:767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // border: 1px solid rgb(5, 220, 88);
    }

    &__image {
        @media (min-width:767px) {
            padding-left: 0px;
        }
    }

}

.header__btn__menu {
    display: none;

    &:checked ~ .menu {
        display: block;
        width: 100dvw;
    }
}

// MENU HAMBURGER
.header__btn__menu-toggle {
    position: absolute;
    right: 8px;
    width: 32px;
    height: 4px;
    background-color: variables.$colorBlue;
    z-index: 2;
    cursor: pointer;

    &::after {
        content: "";
        width: 100%;
        background-color: variables.$colorBlue;
        position: absolute;
        top: 8px;
        left: 0;
        height: 100%;
        cursor: pointer;
    }
    &::before{
        content: "";
        width: 100%;
        background-color: variables.$colorBlue;
        position: absolute;
        top: -8px;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

    @media (min-width:767px) {
        display: none;

    }
}

.menu {
    //MOBILE
    display: none;
    position: absolute;
    z-index: 1;
    width: 100dvw;
    background-color: variables.$totalWhite;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    //TABLET
    @media (min-width:767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        width: 100%;
        position: inherit;
    }

    &__list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        text-align: center;

        @media (min-width:767px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 0;
            height: auto;
            width: 100%;
        }

        &__items {
            display: block;
            align-items: center;
            justify-content: center;
            width: 100%;
            list-style-type: none;
            padding: 10px 0 10px 0;

            // TABLET
            @media (min-width:767px) {
                align-items: center;
                text-align: center;
                height: auto;
                width: 100%;
                // border: 1px solid salmon;
            }

            &:hover {
                background-color: variables.$totalBlack;
                color: variables.$totalWhite;

                @media (min-width:767px) {
                    // color: variables.$colorBlue;
                    text-decoration: underline;
                    background-color: variables.$totalWhite;
                }
            }
        }
    }

    
    a {
        text-decoration: none;
        color: variables.$totalBlack;
        font-size: 22px;
        font-weight: bold;

        @media (min-width:767px) {
                font-weight: 300;
                text-transform: lowercase;
            }

        &:hover {
            color: white;

            @media (min-width:767px) {
                color: variables.$totalBlack;
            }

            @media (min-width:1024px) {
                color: variables.$totalBlack;
                text-decoration: underline;
            }
        }
    }
}

.active {
    @media (min-width:767px) {
        text-decoration: underline variables.$colorBlue;
        text-decoration-color: variables.$colorBlue;
        -webkit-text-decoration-color: variables.$colorBlue;
    }

    @media (min-width:1024px) {
        text-decoration: underline variables.$colorBlue;
        text-decoration-color: variables.$colorBlue;
        -webkit-text-decoration-color: variables.$colorBlue;
    }
    
}
