// VARIABLES

$totalBlack: #000;
$totalWhite: #fff;
$colorBlue: rgb(6, 174, 213);
$colorBlueDark: #018fae;
$fontFamily: "Figtree", sans-serif;
$fontSize: 16px;
$debugBorder: 1px solid salmon;
$radiusBorder: 10px;